/**body{
	background-color: #FFEAA3;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	margin:0px;
	padding:0px;
}
#contenidor{
	width:765px;
	background-color:#ffeaa3;
	
}
**/
#flash {
	
	background-color: #FFEAA3;
	width: 750px;
	/*text-align:center;*/
	margin: 0px;
	padding: 0 10px 0 0;
	}

	
#capsalera { width:760px;
margin:0px;
padding:0px;
}
#capsalera_comencem {
	width:751px;
	height:160px;
	margin:0px 15px 0px 0px;
	padding:0px 0px 0px -5px;
	float:left;
	background-color: #ffeaa3;
	background-image: url(../imatges_generals/top_comencem.png);
	background-repeat: no-repeat;
	background-position: left top;
	
}
#capsalera_llegit {
	width:751px;
	height:160px;
	margin:0px;
	padding:0px;
	float:left;
	background-color: #ffeaa3;
	background-image: url(../imatges_generals/top_comencem.png);
	background-repeat: no-repeat;
	background-position: left top;
}
#peu {
width:750px;
/**height:35px;**/
margin:0px;
padding:0px;
margin-left:0px;

/**border-right: 5px solid #eee;**/
}



#credits {
	width: 100%;
	float: right;
	align-content: :450px;
	height:35px;
	margin:0px;
	padding:0px;
	position: relative;
	 margin-right: 21%;
	text-align: right;
	
	
	
	
}

#credits p{ padding-left:30px; 
}

.pag_contes{
	float:left;
	text-align: center;
	width: 100%;	
}


#text {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:13px;
	width:740px;
	background: #ffeaa3 url(../imatges_generals/fons.png) top left repeat-y;
	clear:both;
	padding-left:20px;
	margin-right:25px;
	margin-bottom:0px;
	padding-bottom:0px;
}
#text p {
padding-left:20px;
margin-right:40px;
	text-align: left;
}
#text li {
padding-left:20px;
margin-right:40px;
}

#flash_dreta{
	width:436px;
	float:right;
	padding-right:0px;
	height: 100px;
	margin: 0px;
	z-index: 2;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
#num{
/*float:right;*/
padding-top:5px;
padding-right:20px;
margin-left: 10px !important;	
	
}

.credits {
	font-size: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
p {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	
	line-height: 15px;
	/*
	text-align: justify;
	margin-right: 15px;
	margin-left: 15px;*/
}
#text input {
	right: auto;
}
#top_esquerra {

	width:313px;
	float:left;
	padding-right:0px;
	height: 160px;
	margin: 0px;
	z-index: 2;
	padding-top: 0px;
	padding-left: 0px;
}

form {
	padding-bottom:0px;
	margin-bottom:0px;
	clear: both;
	float: none;
}
a img{ text-decoration:none!important; border:0px!important;}


/**#portfolio *{
	margin-left:auto;
	margin-right: auto;
}**/

blockquote {
	border: none;
	
}


/** El MERCAT   **/

#elmercat p { 
	float: right;
	width: 100%;
	margin-right: 30em;
	
}