.root>* {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.root .title {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.error {
  color: red;
  font-weight: bold;
}

.loading {
  color: blue;
}

main>div {
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.dicc-select-area {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  max-width: 22rem;
}

.dicc-select-paraula {
  margin-top: 1rem;
}

.paraula-area {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.paraula-text {
  flex-basis: 100%;
  margin-bottom: 1rem;
  max-width: 45rem;
  padding: 0.5rem 2rem;
  border: 2px solid lightgray;
  border-radius: 0.5rem;
  text-align: center;
}

.paraula-video-box {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.paraula-video {
  margin-bottom: 1rem;
  width: fit-content;
}

.img-box {
  border: 1px solid black;
  min-width: 384px;
}

.paraula-imatge {
  display: block;
  margin: auto auto;
}

.break {
  flex-basis: 100%;
  height: 0;
  margin-bottom: 1rem;
}