.root {
  width: 100%;
  max-width: 850px;
  margin: 0 auto;
  padding: 0.5rem 1rem;
}

.hidden {
  display: none;
}

.spinner {
  display: block;
  margin-bottom: 1rem;
}

.home-header {
  margin-top: 20vh;
}

.dicc-select {
  max-width: 30rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0.5rem;
  margin: 1rem 0;
}

.dicc-select .form-group {
  margin-bottom: 0;
}

.recordem-select {
  margin: 1rem 0;
  display: grid;
  max-width: 40rem;
  grid-template-columns: 1fr auto;
  grid-gap: 0.5rem;
}

.recordem-input-caixa {
  display: flex;
  flex-flow: wrap;
  gap: 1rem;
}

.recordem-input-text {
  max-width: 22rem;
}

.recordem-input-label {
  grid-column: 1 / span 2;
}

.dotsfont {
  font-family: dotsfont;
}

.recordem-input-random {
  background-image: url(./assets/dau-blau.png);
  background-repeat: no-repeat;
  background-position: center;
  padding: 0;
}

.recordem-input-random :hover {
  background-image: url(./assets/dau-blanc.png);
  background-repeat: no-repeat;
  background-position: center;
}

.recordem-input-random .btn {
  width: 3rem;
  height: 100%;
  border-top-left-radius: unset;
  border-bottom-left-radius: unset;
}

.recordem-select-button {
  align-self: flex-end;
  white-space: nowrap;
}

.recordem-select-error {
  grid-column: 1 / span 2;
}

.resposta {
  display: flex;
  flex-flow: wrap;
  gap: 1rem;
}

.resposta input {
  font-weight: bold;
  max-width: 22rem;
}

.resposta button {
  align-self: center;
  white-space: nowrap;
}

.paraula-error {
  flex-basis: 100%;
}

.paraula-pistes {
  flex-basis: 100%;
}

.paraula-pistes label {
  display: block;
  margin-bottom: 0.5rem;
}

.paraula-pistes div {
  display: flex;
  flex-flow: wrap;
  gap: 1rem;
}

.paraula-comprova {
  flex-basis: 100%;
}

.paraula-notificacio {
  flex-basis: 100%;
  min-height: 50px;
}

.tab-pane {
  border: 1px solid #dee2e6;
  border-radius: 0 0 .25rem .25rem;
  border-top: none;
}

.paraula-area {
  display: flex;
  flex-flow: wrap;
  gap: 1rem;
  margin: 1rem 0;
}

.paraula-text-box {
  flex-basis: 100%;
  display: flex;
  flex-flow: wrap;
  gap: 0.5rem;
}

.paraula-text {
  flex-grow: 1;
  font-weight: bold;
  margin-bottom: unset;
}

.replay-button {
  align-self: center;
}

.left-icon {
  margin-right: 0.5rem;
  margin-bottom: 0.2rem;
}

.paraula-video-box {
  display: inline-grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr;
}

.paraula-video {
  max-width: 100%;
}

.select-video {
  overflow: auto;
}

.select-video button {
  font-size: smaller;
}

.paraula-audio {
  display: none;
}

.img-box {
  display: inline-flex;
  /* border: 1px solid black; */
}

.paraula-imatge {
  display: block;
  max-width: 100%;
}

.bold {
  font-weight: bold;
}

.ajuda {
  padding: 1rem 0;
}

.ajuda h2 {
  color: #004085;  
}

.ajuda li {
  margin-bottom: 0.8rem;
}

.imatge-ajuda {
  display: table;
  margin: 1rem auto;
  max-width: 100%;
}

.rbt-close-content {
  display: none;
}

.logo-petit {
  max-height: 2.5rem;
  margin-left: -0.8rem;
}

.logo-gran {
  max-height: 6rem;
  max-width: 100%;
}

.titol {
  text-align: center;
  padding: 0.5rem;
  margin: 0 auto 2rem;
  max-width: 32rem;
}

.botons {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}