.root {
  width: 100%;
  max-width: 850px;
  margin: 0 auto;
  padding: 1rem;
}

.spinner {
  display: block;
  margin-bottom: 1rem;
}

.dicc-select {
  padding: 1rem;
  max-width: 20rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
}

.dicc-select .form-group {
  margin-bottom: 0;
}

.recordem-select {
  padding: 1rem;
  display: grid;
  max-width: 30rem;
  grid-template-columns: 1fr auto;
  grid-gap: 1rem;
}

.recordem-input-label {
  grid-column: 1 / span 2;
}

.recordem-input-random {
  margin-bottom: 1rem;
  background-image: url(assets/dau-blau.png);
  background-repeat: no-repeat;
  background-position: center;
}

.recordem-input-random :hover {
  background-image: url(assets/dau-blanc.png);
  background-repeat: no-repeat;
  background-position: center;
}

.recordem-select-button {
  align-self: flex-end;
  white-space: nowrap;
  margin-bottom: 1rem;
}

.recordem-select-error {
  grid-column: 1 / span 2;
}

.resposta {
  display: flex;
}

.resposta button {
  margin-left: 1rem;
  align-self: center;
  white-space: nowrap;
}

.paraula-pistes label {
  display: block;
  margin-bottom: 0.5rem;
}

.paraula-pistes button {
  margin-right: 1rem;
}

.tab-pane {
  border: 1px solid #dee2e6;
  border-radius: 0 0 .25rem .25rem;
  border-top: none;
}

.paraula-area > div {
  margin: 1rem;
}

.paraula-text-box {
  grid-column: 1 / span 2;
  display: flex;
}

.paraula-text {
  flex-grow: 1;
  font-weight: bold;
  margin-bottom: 0;
}

.replay-button {
  margin-left: 1rem;
  align-self: center;
}

.left-icon {
  margin-right: 0.5rem;
}

.paraula-video-box {
  display: inline-grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr;
}

.paraula-video {
  width: fit-content;
}

.img-box {
  display: inline-flex;
  border: 1px solid black;
}

.paraula-imatge {
  display: block;
}

.bold {
  font-weight: bold;
}

.ajuda {
  max-height: 700px;
  overflow-y: auto;
}

.ajuda h2 {
  color: #004085;
  margin: 2rem 0;
}